// <!-- CARER_PAGE ni ichida yozilish kerak -->

.CARER_PAGE {
  a {
    text-decoration: none;
  }
  p {
    opacity: 0.6px;
    color: #232536;
  }
  h2,
  h3 {
    color: #232536;
  }
  .sec1 {
    .container {
      text-align: center;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: center;
      margin-top: 96px;
      h3 {
        margin: auto;
        font-size: 14px;
      }
      h2 {
        // padding: 24px 340px;
        max-width: 624px;
        font-size: 48px;
      }

      img {
        max-width: 1100px;
        width: 100%;
      }
    }
  }
  .sec2 {
    margin-bottom: 100px;
    .cards {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 32px;
      background: #ecf8f9;
      padding: 78px;
      .card {
        background-color: #ffffff;
        padding: 48px;
        h3 {
          font-size: 16px;
          font-weight: 600;
        }
        p {
          padding-bottom: 3px;
        }
        a {
          color: #5d5fef;
          padding-top: 52px;
          img {
            color: #232536;
          }
        }
      }
    }
  }
  .sec3 {
    background: #fafafc;
    .container {
      padding-top: 32px;
      h4 {
        font-size: 14px;
        color: #000000;
        padding-bottom: 16px;
      }
      h2 {
        padding-bottom: 24px;
        font-size: 36px;
        max-width: 524px;
      }
      .cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 12px;
        .card {
          padding: 32px;
          max-width: 418px;
          .sec3-card-sticker {
            padding: 10px;
            background: #ffd3af80;
            border-radius: 50px;
            max-width: 42px;
          }
        }
      }
    }
  }
}
