// <!-- HOME_PAGE ni ichida yozilish kerak -->

.HOME-PAGE {
  header {
  }
  body {
    position: relative;
  }
  .navbar {
    display: flex !important;
    justify-content: space-between !important;
    background-color: rgba(35, 37, 54, 1);
  }

  .container-fluid {
    display: flex;
    justify-content: space-between !important;
  }
}
.navbar-expand-lg {
  display: flex !important;
  justify-content: space-between !important;
}
.navbar-nav {
  display: flex !important;
  justify-content: space-between !important;
}
.bg-body-tertiary {
  background-color: rgba(35, 37, 54, 1) !important;
}
.nav-link {
  color: rgba(255, 255, 255, 1) !important;
}
.collapse.navbar-collapse {
  display: flex !important;
  justify-content: space-between !important;
}
.navbar-toggler {
  color: white !important;
}

.navbar-toggler-icon {
  color: azure !important;
}
.navbar-toggler-icon {
  color: azure !important;
}
